# WinCC OA files for language classification
*.ctl linguist-detectable
*.ctl linguist-language=Control-Control++
*.ctc linguist-detectable
*.ctc linguist-language=Control-Control++
*.pnl linguist-detectable
*.pnl linguist-language=WinCCOA-Panel
*.xml linguist-detectable
*.xml linguist-language=WinCCOA-Panel
